<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <!--服务器配置-->
    <add key="webInterfaceApi" value="http://72.167.224.114:82" />
    <!--登录记住密码-->
    <add key="rememberMe" value="false"/>
    <add key="userName" value="18111111111"/>
    <add key="passWord" value=""/>
    <!--是否已经从列表打开数据-->
    <add key="IsOpenlist" value=""/>
  </appSettings>
</configuration>
